<%# footer.ejs - Zakhar Hamarnyk - 301250102 - 11/10/23 %>

<footer>
	<div id="email">
		<a href="mailto:zhamarnyk9@gmail.com">
			zhamarny@MY.CENTENNIALCOLLEGE.CA
		</a>
	</div>

	<div class="links">
		<a href='https://github.com/ZakharHamarnyk9911'>
			GITHUB 
		</a> <br> <br>
		<a href="https://www.linkedin.com/in/hamarnyk-zakhar-45831a262/">
			LINKEDIN
		</a>
	</div>
</footer>