<%# nav.ejs -  Zakhar Hamarnyk - 301250102 - 11/10/23 %>

<nav class="app_nav">
    <a href="/">
        <img src="logo.jpg" width="50px" height="50px">
    </a>
    <a href="/projects">Projects</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
</nav>