<%# about.ejs -  Zakhar Hamarnyk - 301250102 - 11/10/23 %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css" />
	
	<title>About page</title>
</head>

<%- include('partials/nav'); %>

<main>
	<h1>Hey! It's me..</h1>
	<section class="about-me">
		<img src="me.png" width="100%" height="100%">

		<h3>
			Name: Zakhar Hamarnyk <br>
			Student ID: 301250102 <br>
			Program: Software Engineering Technology - AI <br>
			About me: I am a committed Centennial College student who consistently achieves an A+.C#, Python, Java, JavaScript, HTML, CSS, SQL, React, MongoDB, Node.js, Express.js, and PHP are all languages in which I have expertise.
		</h3>
	</section>

	<a href="https://drive.google.com/file/d/1cgb8KrGJyDcC5987Ma_hLaOUP-hyGB1Z/view?usp=sharing">
		<h3>Click here to see my resume!</h3>
	</a>
</main>

<%- include('partials/footer'); %>

</body>
</html>  