<%# home.ejs - Zakhar Hamarnyk - 301250102 - 11/10/23 %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css" />
	
	<title>Home Page</title>
</head>

<%- include('partials/nav'); %>

<main>
	<h1>Welcome to the Home Page!</h1>
	<h3>My mission is...</h3>
	<p>
	    to continually enhance my program-writing abilities.I'm dedicated to creating innovative and dependable software by utilizing the newest technologies and best practices.I want to excel at coding and troubleshooting while using creativity and precision to solve complicated challenges.I also want to work well with various teams, promoting communication, teamwork, and continual education.

	</p>
	<a href="/about">
		<h3>Click here to read more!</h3>
	</a>
</main>

<%- include('partials/footer'); %>

</body>
</html>  