<%# services.ejs - Zakhar Hamarnyk - 301250102 - 11/10/23 %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css" />
	
	<title>Services Page</title>
</head>

<%- include('partials/nav'); %>

<main>
	<h1>Services</h1>
	<section class="list">
		<ul>
			<li>Web Development</li>
			<li>C#, Java, Python Development</li>
			<li>Project management</li>
			<li>Databases management</li>
			<li>Tutoring</li>
		</ul>
	</section>
</main>

<%- include('partials/footer'); %>

</body>
</html>  